#world-map {
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
}

.country {
    fill: #ccc;
    stroke: #666;
    stroke-width: 0.5px;
    cursor: pointer;
}

.country:hover {
    fill: #90caf9;
}

.highlight-country {
    fill: #ffcc00; /* 高亮的国家颜色 */
}

.city {
    fill: red;
    stroke: black;
    stroke-width: 0.5px;
    cursor: pointer;
}
  
.city:hover {
    fill: orange;
}

.travel_map_container {
    padding-top: 50px;
}