#world-map {
    width: 100%;
    height: 800px;
}

.country {
    fill: #ccc;
    stroke: #666;
    stroke-width: 0.5px;
    cursor: pointer;
}

.country:hover {
    fill: #90caf9;
}

.highlight-country {
    fill: #ffcc00; /* 高亮的国家颜色 */
}

.city {
    fill: red;
    stroke: black;
    stroke-width: 0.5px;
    cursor: pointer;
}
  
.city:hover {
    fill: orange;
}

.travel_map_container {
    padding-top: 50px;
}

.fix_container {
    position: fixed;
    z-index: 1000; 
    padding: 10px 0; 
    font-family: Raleway-B;
}

.fix_container h2 {
    font-family: Raleway-B;
    font-size: 30px;
}

.fixed-region-label {
    color: #000000;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    font-family: Raleway-B;
    z-index: 1000;
    pointer-events: none;
}

.d-none {
    display: none;
}

#controls button {
    min-width: 190px;
}