<!-- Shared site header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" data-path="index.html" data-nav="brand">Cloud Driver 雲端司機</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" data-path="index.html" data-nav="home">Home🧐</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-path="publications.html" data-nav="publications">Publications📕</a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="offcanvas" href="#contact_me" role="button" class="nav-link" data-nav="contact">Contact Me🌻</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-nav="misc-root">
            When I'm Not Doing Research🌊
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-path="misc/travel_map.html" data-nav="travel_map">Travel Map</a></li>
            <li><a class="dropdown-item" data-path="misc/music.html" data-nav="music">Music</a></li>
            <li><a class="dropdown-item" data-path="misc/transfer_guide.html" data-nav="transfer_guide">Transfer Guide</a></li>
            <li><a class="dropdown-item" data-path="misc/game.html" data-nav="game">Game</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="contact_me" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Contact Me</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <strong>WeChat:</strong><br>
    DiudiuandMoon
    <hr>
    <strong>RedNote/小红书:</strong><br>
    9428710724
  </div>
</div>
